@import "tailwindcss";

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-Regular.woff2") format("woff2"),
    url("/fonts/Delight/Delight-Regular.woff") format("woff"),
    url("/fonts/Delight/Delight-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-Thin.woff2") format("woff2"),
    url("/fonts/Delight/Delight-Thin.woff") format("woff"),
    url("/fonts/Delight/Delight-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-ExtraLight.woff2") format("woff2"),
    url("/fonts/Delight/Delight-ExtraLight.woff") format("woff"),
    url("/fonts/Delight/Delight-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-Light.woff2") format("woff2"),
    url("/fonts/Delight/Delight-Light.woff") format("woff"),
    url("/fonts/Delight/Delight-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-Medium.woff2") format("woff2"),
    url("/fonts/Delight/Delight-Medium.woff") format("woff"),
    url("/fonts/Delight/Delight-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-SemiBold.woff2") format("woff2"),
    url("/fonts/Delight/Delight-SemiBold.woff") format("woff"),
    url("/fonts/Delight/Delight-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-Bold.woff2") format("woff2"),
    url("/fonts/Delight/Delight-Bold.woff") format("woff"),
    url("/fonts/Delight/Delight-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-ExtraBold.woff2") format("woff2"),
    url("/fonts/Delight/Delight-ExtraBold.woff") format("woff"),
    url("/fonts/Delight/Delight-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight";
  src:
    url("/fonts/Delight/Delight-Black.woff2") format("woff2"),
    url("/fonts/Delight/Delight-Black.woff") format("woff"),
    url("/fonts/Delight/Delight-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-green-pipo: #00a750;
  --color-clean-gray: #e4e5e0;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --font-display: "Delight", "Inter", "sans-serif";
  --font-sans: "Delight", "Inter", "sans-serif";

  --default-transition-duration: 250ms;
}
